body{
  font-family: Georgia, Times, "Times New Roman", serif;
  background-color: #CEBEBE;
}

.title{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 3%;
}

p{
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  background-color: #CEBEBE;
  padding: 3%;
}

.imgs{
  text-align: center;
}

img{
  border: 4px #CEBEBE double;
}

img:hover{
  border-style: solid;
}
